// Constants styles app
$primary-color-dark:   #C2185B;
$primary-color:        #ff619e;
$primary-color-light:  #ff81b1;
$primary-color-text:   #FFFFFF;
$accent-color:         #E040FB;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$fontFamily: 'Avenir', Helvetica, Arial, sans-serif;
